<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch" parameterType="list">
        insert into order_detail
        (name, order_id, dish_id, setmeal_id, dish_flavor,number, amount, image)
        values
        <foreach collection="orderDetails" item="od" separator=",">
            (#{od.name},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},#{od.number},#{od.amount},#{od.image})
        </foreach>
    </insert>

    <!--根据订单 id 获取菜品信息-->
    <select id="listByOrderId" resultType="com.sky.entity.OrderDetail" parameterType="java.lang.Long">
        select od.name        as name,
               od.order_id    as orderId,
               od.dish_id     as dishId,
               od.setmeal_id  as setmealId,
               od.dish_flavor as dishFlavor,
               od.number      as number,
               od.amount      as amount,
               od.image       as image
        from orders as o
                 join order_detail as od on o.id = od.order_id
        where o.id = #{orderId}
    </select>
</mapper>